<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
        rel="stylesheet"
    />
    <script src="https://xyba.vercel.app/xyba.iife.js" rel="preload" as="script"></script>
</head>
<body>
    {{ content | safe }}
    <script src="/code-example.ts" type="module"></script>
    <script src="/src/component/my-component.ts" type="module"></script>
</body>
</html>